body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: teal;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.header {
    text-align: center;
    padding: 30px 0px;
}

.container, .header{
    margin: auto;
}

.box {
    border: 1px solid black;
    width: 20px;
    height: 20px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 20px;
}